*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.container{
  margin: auto;
  border: 5px solid black;
  width: 500px;
  height: 550px;
  margin: 50px auto 0 auto; 
  display: grid;
  grid-template-areas: 
  "header header"
  "aside main"
  "sidebar main"
  "footer footer";
  padding: 5px;
}

  header{
    background-color: rgb(182, 65, 182);
    color: white;
    padding: 40px 0;
    grid-area: header;
  }
  aside{
    background-color: rgb(132, 162, 253);
    color: white;
    padding: 60px 0;
    grid-area: aside;

  }
  sidebar{
    background-color: rgb(255, 72, 0);
    color: white;
    padding: 100px 0;
    grid-area: sidebar;
  }
  main{
    background-color: orange;
    color: white;
    padding: 171px;
    grid-area: main;
  }
  footer{
    background-color: grey;
    color: white;
    padding: 20px 0;
    grid-area: footer;
  }