*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.container{
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-areas: 
  "header header"
  "aside main"
  "sidebar main"
  "footer footer";
  grid-auto-columns: 1fr 1.5fr;
  grid-auto-rows: 1fr 1fr 1.3fr 0.3fr;
  padding: 0;

}

  header{
    background-color: rgb(182, 65, 182);
    color: white;
    padding: 40px 0;
    grid-area: header;
  }
  aside{
    background-color: rgb(132, 162, 253);
    color: white;
    padding: 60px 0;
    grid-area: aside;

  }
  sidebar{
    background-color: rgb(255, 72, 0);
    color: white;
    padding: 100px 0;
    grid-area: sidebar;
  }
  main{
    background-color: orange;
    color: white;
    padding: 171px;
    grid-area: main;
  }
  footer{
    background-color: grey;
    color: white;
    padding: 20px 0;
    grid-area: footer;
  }



  @media screen and (max-width: 862px){
    .container{
      grid-template-areas: 
      "header header header"
      "aside main sidebar"
      "footer footer footer"
      ;
    }
  }
  @media screen and (max-width: 647px){
    .container{
      grid-template-areas: 
      "header header"
      "aside sidebar"
      "main main"
      "footer  footer"
      ;
    }
  }